<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiskur.bbcmicro"
    android:versionCode="12"
    android:versionName="2.2.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:glEsVersion="0x00020000" >
    </uses-feature>

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/owl_icon"
        android:label="BBC Micro"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.littlefluffytoys.beebdroid.Beebdroid"
            android:exported="true"
            android:label="BBC Micro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.littlefluffytoys.beebdroid.OPEN_DISK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.ssd" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RemapKeysActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".FiskurAboutActivity"
            android:label="@string/title_activity_fiskur_about" >
        </activity>
        <activity
            android:name=".KeyRemapActivity"
            android:label="@string/title_activity_key_remap"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ExplorerActivity"
            android:label="@string/title_activity_explorer" >
        </activity>
        <activity
            android:name=".DiskSelectActivity"
            android:label="@string/title_activity_game_select"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".CatlogueActivity"
            android:label="@string/title_activity_catlogue" >
        </activity>
        <activity
            android:name=".PackagedGamesActivity"
            android:label="@string/title_activity_packaged_games" >
        </activity>
    </application>

</manifest>